html{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  display: block;
  margin: 0;
  align-content: center;
  justify-content: center;
}
.maincontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

/*BANNER TOP WITH MENU AND BACKGROUND IMG*/

.bannerbackground{
  z-index: 1;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  color: white;

  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background: url('../../Resources/Pictures/dude-glasses-bg.png')no-repeat center center;
  background-size: cover;
  height: 31rem;
}

.bannercontainer{
  z-index: 2;
  margin-top: 1rem;
  border: 2px solid cyan;
  background-color: cadetblue;
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.logo{
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  margin-left: 2rem;
  height: 1.5rem;
}
.logo h3{
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.menubanner{
  display: flex;
  flex-direction: row;
  border: 3px solid yellow;
  justify-content: flex-end;
}
.menubanner h4{
  display: flex;
  margin: 1rem 2rem;
}

.slogan{
  display: flex;
  background-color: white;
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  border: 3px solid blue;
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

/* ADVANTAGES OF Tortoiseshell OPTICS IMG */

.img{
  border: 2px solid yellow;
  margin: 3rem auto;
  display: flex;
  height: 8rem;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 960px;
}
.img1{
  border: 2px solid red;
  margin: auto 6rem;
}
.img1txt{

  border: 2px solid red;
  margin: auto 6rem;

}
